<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     
                    <div class="card">
                        <div class="card-header card-header-danger card-color row">
                            <h4 class="card-title col-sm-12">Users</h4>
                             <div class="card-category col-sm-12 col-md-10"> JeffRad Policies Admins</div>
                             <div class="col-sm-12 col-md-2" id="tablesearch">
                                  <form class="navbar-form">
                                         
                                      </form>
                           </div>
                          </div>
                           
                          <div class="row justify-content-md-center" *ngIf="loading">
                                <img src="../../assets/img/loading.gif">
                          </div>
                          
                        
                       <!--  <div class="card-body"> -->
                              <!--<button mat-raised-button *ngFor="let category of categories">{{category}}</button>-->
                        <!--    <div class="table-responsive"> -->
                              
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 datatable" matSort *ngIf="!loading">
                                      
                                        <!--- Note that these columns can be defined in any order.
                                              The actual rendered columns are set as a property on the row definition" -->
                                      
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="name">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element?.first_name}} {{element?.last_name}} </td>
                                        </ng-container>
                                      
                                        <!-- Username Column -->
                                        <ng-container matColumnDef="username">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                                          <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="email">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                          <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin Status </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span *ngIf="element?.isPathwaysAdmin"><strong>Admin</strong></span> 
                                                    <span *ngIf="!element.isPathwaysAdmin">Disabled</span>
                                                </td>
                                              </ng-container>

                                         <!-- Tools Column -->
                                         <ng-container matColumnDef="tools">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tools </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <button mat-raised-button class="btn btn-success" (click)="makeAdmin(element)" [disabled]="element.isPathwaysAdmin" matTooltip="Give Admin Access"><i class="material-icons">how_to_reg</i></button>    
                                                    <button mat-raised-button class="btn btn-danger" (click)="removeAdmin(element)" [disabled]="!element.isPathwaysAdmin" matTooltip="Disable Admin Access"><i class="material-icons">not_interested</i></button>    
                                                 </td>
                                              </ng-container>
                                      
                                      
                                      
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                      </table>
                                      
                                  </div>
                                  
                            <!-- </div>
                        </div> -->
                       
                    </div>
                    
                </div>
                
                <div class="mat-fab-bottom-right">
                        <span class="dropup">
                          <button class="btn card-color btn-round mat-button-bottom-right" (click)="addUser()"><i class="material-icons">add</i> </button>
                      </span>
                      </div>

            </div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addForm">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" placeholder="First Name">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastName" placeholder="Last Name">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" placeholder="Email">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                            <input matInput placeholder="Username" formControlName="username">
                                        </mat-form-field>
                                       
                                        <mat-form-field appearance="outline">
                                            <input matInput type="password" placeholder="Password" formControlName="password" (keyup.enter)="onSubmit()">
                                        </mat-form-field>       
                    </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-button data-dismiss="modal" (click)="addForm.reset()">Close</button>
              <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!addForm.valid" data-dismiss="modal" *ngIf="!submitting">Submit</button>
              <button type="button" mat-raised-button color="primary" disabled  *ngIf="submitting">Submitting...</button>
              
            </div>
          </div>
        </div>
      </div>



            </div>